.pulso {
    cursor: pointer;
    transform-origin: center;
    transform: scale(0.9);
    animation: pulse 2s infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(0.9);
    }
    40% {
      transform: scale(1) rotate(5deg);
    }
    80% {
      transform: scale(1) rotate(-5deg);
    }
    100% {
      transform: scale(0.9) rotate(0);
    }
  }
  